endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_listingIPOverride "80.11.100.74:30120"

sv_endpointPrivacy true

sv_hostname "WWolf Server"
sets sv_projectName "WWolf Server"
sets sv_projectDesc "WWolf Server"

set steam_webApiKey ""
sv_licenseKey "cfxk_nWgBHOUrTx504cU7hv75_3y3rik"
sv_maxclients 9   # Allow access to features usually locked behind a FiveM patreon key

sets locale "fr-FR"
sets tags "creation, Scripts, White Wolf"

sv_scriptHookAllowed 0

sets Développeur "White Wolf"
sets Discord "https://discord.gg/q8N2dzdJQN"

set mysql_connection_string "mysql://root:!!Wiisonic22!!@127.0.0.1/wwolfserver?waitForConnections=true&charset=utf8mb4"

set mysql_ui true

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

setr ox_target:drawSprite 1

setr ox_target:debug 1

set ox:printlevel "Debug"

set sv_enforceGameBuild 2944

load_server_icon "logo.png"


######################################################################################################################################################################################################################################################
######################################################################################################################################################################################################################################################
######################################################################################################################################################################################################################################################


###################################################################################################################
##                                                 DEFAULT                                                       ##
###################################################################################################################


ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap





###################################################################################################################
##                                                FRAMEWORK                                                      ##
###################################################################################################################


ensure es_extended
ensure cron
ensure ox_lib
ensure oxmysql
ensure ox_target
ensure cd_easytime
ensure dolu_tool





###################################################################################################################
##                                                  QAUSAR                                                       ##
###################################################################################################################


ensure qs-inventory
ensure qs-shops

ensure progressbar





###################################################################################################################
##                                                   BASE                                                        ##
###################################################################################################################


ensure esx_addonaccount
ensure esx_banking
ensure esx_basicneeds
ensure esx_billing
ensure esx_datastore
ensure esx_identity
ensure esx_license
ensure esx_optionalneeds
ensure esx_skin
ensure esx_society
ensure esx_status
ensure skinchanger





###################################################################################################################
##                                                    HUD                                                        ##
###################################################################################################################


ensure esx_loadingscreen





###################################################################################################################
##                                                   Menu                                                        ##
###################################################################################################################


ensure esx_context
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure esx_notify
ensure esx_progressbar
ensure esx_textui





############################################################################################################################################################################################################